.crud-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

.crud-form {
  flex: 1 1 400px;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  cursor: pointer;
  overflow: hidden;
}

.crud-table {
  flex: 1 1 400px;
}

.crud-form label {
  font-weight: 700;
  color: #333;
}

.crud-form input[type="text"],
.crud-form input[type="number"],
.crud-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #333;
}

.crud-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #6c63ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.crud-form button.btn-edit {
  background-color: #24b859;
}

.crud-form button:hover {
  background-color: #524dff;
}

.crud-form button.btn-edit:hover {
  background-color: #3fe93f;
  border: none;
}

.crud-table h2 {
  text-align: center;
  color: #6c63ff;
}
table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  font-size: large;
}

th {
  color: #333;
}

table th,
table td {
  padding: 8px;
  width: auto;
  text-align: center;
  border: 1px solid #ddd;
  font-weight: 600;
}

table th {
  background-color: #6c63ff;
  font-weight: bold;
  color: #fff;
}

.btn-edit {
  width: 100%;
  border: none;
  padding: 5px;
  background: transparent;
  color: #333;
}

.btn-edit:hover {
  color: #fff;
  transition: 0.3s;
  background-color: #24b859;
  border-radius: 3rem;
}

.btn-trash {
  width: 100%;
  border: none;
  background: transparent;
  color: #333;
  transition: 0.3s;
  padding: 5px;
  border-radius: 3rem;
}

.btn-trash:hover {
  color: #fff;
  background-color: #ff0000;
  transition: 0.3s;
}

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation-name: slideInFromLeft;
}
